body{
    background-color: rgba(211, 211, 211, 0.700);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.custom{
    width: 500;
    height: auto;
    border: 2px solid red;
}
h1{
    font-size: 50;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    font-size: 40;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.customfooter{
    font-size: 20;
    color: darkred;
}